* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  outline: 0;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

html {
  background-color: #f3f3f4;
  font-size: 16px;
  position: relative;
}

body {
  background-color: #f3f3f4;

  &.home {
    overflow-x: hidden;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
  }

  &.nav-open {
    left: -240px !important;
  }
}

.text-basic {
  color: $white;
  font-family: $lato;
  font-size: 16px;
}

.text-subtitle {
  font-family: $lato;
  font-size: 22px;

  &_green { color: $green; }
}

.arrow-down {
  position: relative;

  &:after {
    content: '';
    background: url();
    height: 6px;
    width: 10px;
  }
}
