header {
  padding-top: 30px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}

#menu-main-menu {
  a {
    color: $white;
    font-family: $lato;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    position: relative;

    &:after {
      background-color: $white;
      content: '';
      right: 0;
      height: 3px;
      bottom: -7px;
      position: absolute;
      width: 0%;
      transition: all .2s linear;
    }

    &:hover {
      &:after {
        right: initial;
        left: 0;
        width: 100%;
      }
    }
  }
}

.nav-header {
  float: left;
}

.nav-redes-header {
  position: relative;
  left: 30px;

  li {
    margin: 0 15px;
  }
}