#main {}

// BANNER PPAL
.banner-ppl {
  background-size: cover !important;
  height: 568px;
  position: relative;

  .arrow-banner {
    position: absolute;
    right: 0;
    top: 50%;
  }

  .content_banner {
    left: 45%;
    position: absolute;
    top: 18%;
    width: 39%;
  }

  .title-name {
    color: $white;
    font-family: $mont;
    font-weight: 700;
    margin-bottom: 23px;
    font-size: 76px;
    line-height: 66px;

    strong {
      font-weight: 300;
    }
  }
  
}

// BUSCADOR
.search-content {
  background-color: $white;
  padding: 32px 80px;
  box-shadow: 0px 0px 5px 0px #000;
}

.input_search {
  label {
    font-weight: 300;
    display: block;
  }
}